
@{
    ViewBag.Title = "NavUser";
}

<div class="headder-top">
    <!-- nav -->
    <nav>
        <div id="logo">
            <h1>
                <a href="index.html">Hoho Travel</a>
            </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
            <li class="active">
                <a href="#service">Services</a>
            </li>
            <li class="active">
                <a href="#booking">Booking</a>
            </li>
        </ul>
    </nav>
    <!-- //nav -->
</div>