<div class="main-top1" id="home">
    <!-- header -->
    <div class="headder-top">
        <!-- nav -->
        <nav>
            <div id="logo">
                <h1>
                    <a href="index.html">Hoho Travel</a>
                </h1>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active">
                    <a href="#service">Services</a>
                </li>
                <li class="active">
                    <a href="#booking">Booking</a>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="main-banner">
        <div class="container-fluid">
            <div class="style-banner ">
            </div>
        </div>
    </div>
</div>